.personaly-grid{
	padding: 115px 0 115px;
	width: 100%;
	background: url('../../img/map-left.png'), url('../../img/map-right.png');
	background-repeat: no-repeat;
	background-position: left 100%, right 100%;

	.section__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		&-title{
			width: 60%;
		}

		&--headline{
			@include font($ral, 800);
			font-size: 80px;
			text-transform: uppercase;
			color: $orange;
		}

		&--subtitle{
			@include font($ral, 400);
			font-size: 34px;
			text-transform: uppercase;
			color: $dark-grey;
		}

		&--ceo{
			width: 50%;
			@include font($ral, 600);
			font-size: 19px;
			text-align: left;
			color: $dark-grey;
		}
	}

	@import "_grid.scss";

	.section__footer{
		display: flex;
		justify-content: flex-end;
		margin-top: 40px;
		
		.btn__previevall{
			padding: 13px 28px;
			@include font($ral, 600);
			font-size: 14px;
			text-transform: uppercase;
			background: $light-grey;
			color: $white;
			@include ease-in-out($easeInOut-1s, color);
			
			&:hover{
				@include ease-in($easeIn-2s, color);
				color: $orange;
			}
		}
	}


}