h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a,
span {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1185px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2px;
}

@font-face {
  font-family: 'Oxygen', sans-serif;
  src: url("../../fonts/oxygen/Oxygen-Regular.ttf");
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("../../fonts/raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'Kaushan Script', cursive;
  src: url("../../fonts/kaushan_script/KaushanScript-Regular.ttf");
}

.bullet {
  position: relative;
  margin-right: 15px;
}

.bullet:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-left: solid 8px #fd5c08;
  border-bottom: solid 6px transparent;
  border-top: solid 6px transparent;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header {
  padding: 0;
}

.header__wrap-navmenu {
  background: #fff;
}

.header__navmenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 80px;
  background: #fff;
}

.header__navmenu--list {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header__navmenu--li {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 19px 38px 19px 38px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  background: transparent;
}

.header__navmenu--li:hover {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  background: #ededed;
}

.header__navmenu--li.active--travel {
  position: relative;
  z-index: 40;
  background: #fd5c08;
}

.header__navmenu--li.active--travel::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 63px solid transparent;
  border-right: 63px solid transparent;
  border-top: 15px solid #fd5c08;
}

.header__navmenu--li.active {
  background: #fd5c08;
}

.header__navmenu--li .icon {
  height: 22px;
}

.header__navmenu--li .ticket--icon::before {
  content: '';
  width: 33px;
  height: 20px;
  display: inline-block;
  background: url("../../img/icons/Icon_plane-tickets.png") no-repeat;
}

.header__navmenu--li .travel--icon::before {
  content: '';
  width: 17px;
  height: 17px;
  display: inline-block;
  background: url("../../img/icons/Icon_travel.png") no-repeat;
}

.header__navmenu--li .car--icon::before {
  content: '';
  width: 28px;
  height: 10px;
  display: inline-block;
  background: url("../../img/icons/Icon_rent-a-car.png") no-repeat;
}

.header__navmenu--li .hotel--icon::before {
  content: '';
  width: 16px;
  height: 19px;
  display: inline-block;
  background: url("../../img/icons/Icon_hotels.png") no-repeat;
}

.header__navmenu--li .search--icon::before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url("../../img/icons/Icon_search.png") no-repeat;
}

.header__navmenu--link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 8px;
  color: #3f3e41;
}

.header__navmenu--language {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #3f3e41;
}

.header__navmenu--li.active--travel .header__navmenu--link {
  color: #fff;
}

.header__navmenu--li.active .header__navmenu--link {
  color: #fff;
}

.slider {
  width: 100%;
}

.slider .owl-carousel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.slider__owl {
  position: relative;
}

.slider__owl .owl-dots {
  position: absolute;
  bottom: 60px;
}

.slider__owl .owl-dots .owl-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 18px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
}

.slider__owl .owl-dots .owl-dot.active {
  background: #fd5c08;
}

.slider__owl .owl-dots .owl-dot:last-child {
  margin-right: 0;
}

.slider__owl--item {
  position: relative;
  height: 860px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: top;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-flow: column-reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
}

.slider__owl .slide-content__bottom {
  margin-bottom: 130px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__owl .left-box {
  width: 60%;
}

.slider__owl .left-box .headline-mini, .slider__owl .left-box .headline-big {
  text-transform: uppercase;
  color: #fff;
}

.slider__owl .left-box .headline-mini {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.slider__owl .left-box .headline-big {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 100px;
}

.slider__owl .left-box .headline-small {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: #fff;
}

.slider__owl .info__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__owl .info__box-nav {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.slider__owl .info__box-tab {
  position: relative;
  cursor: pointer;
  background: #3f3e41;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
}

.slider__owl .info__box-tab:hover {
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  background: #545357;
}

.slider__owl .info__box-tab.active {
  background: #fd5c08;
}

.slider__owl .info__box-tab.active:before {
  content: '';
  position: absolute;
  bottom: -6px;
  width: 0;
  height: 0;
  border-left: 36px solid transparent;
  border-right: 36px solid transparent;
  border-top: 6px solid #fd5c08;
}

.slider__owl .info__box-tab.active:hover {
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  background: #fd5c08;
}

.slider__owl .info__box-tab .ticket:before {
  content: '';
  width: 32px;
  height: 17px;
  display: inline-block;
  background: url("../../img/icons/Icon_plane-tickets1.png") no-repeat;
}

.slider__owl .info__box-tab .hotel:before {
  content: '';
  width: 25px;
  height: 28px;
  display: inline-block;
  background: url("../../img/icons/Icon_hotels1.png") no-repeat;
}

.slider__owl .info__box-tab .car:before {
  content: '';
  width: 32px;
  height: 13px;
  display: inline-block;
  background: url("../../img/icons/Icon_rent-a-car1.png") no-repeat;
}

.slider__owl .info__box--icon {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 18px;
  width: 36px;
  height: 36px;
}

.slider__owl .info__box-content {
  display: none;
}

.slider__owl .info__box-content .box__body {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 20px 30px 20px;
  background: #fff;
}

.slider__owl .info__box-content.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__owl .info__box-content .headline-info {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

.slider__owl .info__box-content .euro-icon:before {
  content: '';
  width: 21px;
  height: 21px;
  display: inline-block;
  background: url("../../img/usd/euro.png") no-repeat;
}

.slider__owl .info__box-content .cost {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 70px;
  color: #fd5c08;
}

.slider__owl .info__box-content .box__footer {
  text-align: center;
  padding: 22px 25px;
  background: #3f3e41;
}

.slider__owl .info__box-content .box__footer .checked {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.slider__owl .info__box-content .box__footer .checked:hover {
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  color: #fd5c08;
}

.slider__owl .info__box-content .box__footer .checked-icon {
  margin-right: 8px;
}

.slider__owl .info__box-content .box__footer .checked-icon:before {
  content: '';
  width: 16px;
  height: 12px;
  display: inline-block;
  background: url("../../img/checked.png") no-repeat;
}

.slider__owl .slide-1 {
  max-width: 1920px;
  width: 100%;
  background-image: url("../../img/slider/slide1.jpg");
}

.slider__owl .slide-2 {
  max-width: 1920px;
  width: 100%;
  background-image: url("../../img/slider/slide2.jpg");
}

.slider__owl .slide-3 {
  max-width: 1920px;
  width: 100%;
  background-image: url("../../img/slider/slide5.jpg");
}

.personaly-grid {
  padding: 115px 0 115px;
  width: 100%;
  background: url("../../img/map-left.png"), url("../../img/map-right.png");
  background-repeat: no-repeat;
  background-position: left 100%, right 100%;
}

.personaly-grid .section__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.personaly-grid .section__header-title {
  width: 60%;
}

.personaly-grid .section__header--headline {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 80px;
  text-transform: uppercase;
  color: #fd5c08;
}

.personaly-grid .section__header--subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 34px;
  text-transform: uppercase;
  color: #3f3e41;
}

.personaly-grid .section__header--ceo {
  width: 50%;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 19px;
  text-align: left;
  color: #3f3e41;
}

.personaly-grid .section__body {
  margin-top: 113px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.personaly-grid .section__body--grid {
  display: grid;
  grid-template-columns: 390px 390px 390px;
  grid-template-rows: repeat(2, 390px);
}

.personaly-grid .section__body--grid .box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.personaly-grid .section__body--grid .box .travel__img {
  object-fit: contain;
  -o-object-fit: contain;
  max-width: 100%;
  margin: auto;
  -o-transition: opacity .75s ease-out;
  transition: opacity .75s ease-out;
  -webkit-transition: opacity .75s ease-out;
}

.personaly-grid .section__body--grid .box .travel__img.load {
  opacity: .3;
  -webkit-transition-delay: .2s;
       -o-transition-delay: .2s;
          transition-delay: .2s;
}

.personaly-grid .section__body--grid .box__price {
  position: absolute;
  top: 38px;
  left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.personaly-grid .section__body--grid .box__price--subtitle, .personaly-grid .section__body--grid .box__price--cost {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.personaly-grid .section__body--grid .box__price--subtitle {
  font-size: 19px;
}

.personaly-grid .section__body--grid .box__price--cost {
  font-size: 50px;
  font-weight: 800;
}

.personaly-grid .section__body--grid .box__price .euro-icon {
  margin-right: 6px;
}

.personaly-grid .section__body--grid .box__price .euro-icon::before {
  content: '';
  width: 21px;
  height: 21px;
  display: inline-block;
  background: url("../../img/usd/euro-orange.png") no-repeat;
}

.personaly-grid .section__body--grid .box .hover__box {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 26px 28px 42px 28px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.87);
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
}

.personaly-grid .section__body--grid .box .hover__box--big {
  height: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personaly-grid .section__body--grid .box .hover__box::after {
  content: '';
  position: absolute;
  left: 40px;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 10px solid rgba(255, 255, 255, 0.87);
}

.personaly-grid .section__body--grid .box .hover__box--name, .personaly-grid .section__body--grid .box .hover__box--info {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.personaly-grid .section__body--grid .box .hover__box--name {
  font-size: 19px;
  color: #fd5c08;
}

.personaly-grid .section__body--grid .box .hover__box--info {
  margin-top: 13px;
  line-height: 30px;
  font-weight: 600;
  font-size: 34px;
  color: #3f3e41;
}

.personaly-grid .section__body--grid .box .hover__box--more_btn {
  margin-top: 34px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #3f3e41;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.personaly-grid .section__body--grid .box .hover__box--more_btn:hover {
  color: #fd5c08;
  -webkit-transition: easeIn-1s;
  -o-transition: easeIn-1s;
  transition: easeIn-1s;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.personaly-grid .section__body--grid .box:hover .hover__box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  -webkit-animation: .5s fadeIn;
          animation: .5s fadeIn;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -100px;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  100% {
    visibility: visible;
    opacity: 1;
    bottom: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -100px;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
  }
  100% {
    visibility: visible;
    opacity: 1;
    bottom: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

.personaly-grid .section__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 40px;
}

.personaly-grid .section__footer .btn__previevall {
  padding: 13px 28px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  background: #545357;
  color: #fff;
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}

.personaly-grid .section__footer .btn__previevall:hover {
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  color: #fd5c08;
}
