@import "_resize.scss";

// Вызываем миксин:
// .header{
//   @include font($ff, $fw);
// }

// ----->
// Использование:
//  - Вызываем миксин: @include font();
//  в скобках пишем значение, первая переменная с азванием шрифта(т.е. font-family)
//  Второе значение его вес т.е. font-weight
// <-----

@mixin ff-oxygen{
  @font-face{
    font-family: 'Oxygen', sans-serif;
    src: url("../../fonts/oxygen/Oxygen-Regular.ttf");
  }
}

@mixin ff-raleway{
  @font-face{
    font-family: 'Raleway', sans-serif;
    src: url("../../fonts/raleway/Raleway-Regular.ttf");
  }
}

@mixin ff-kush-script{
  @font-face{
    font-family: 'Kaushan Script', cursive;
    src: url("../../fonts/kaushan_script/KaushanScript-Regular.ttf");
  }
}

@include ff-oxygen;
@include ff-raleway;
@include ff-kush-script;

$oxy: 'Oxygen', sans-serif;
$ral: 'Raleway', sans-serif;
$kaush: 'Kaushan Script', cursive;

@mixin font ($ff, $fw) {
  font-family: $ff;
  @if length($fw) > 0 {
    font-weight: $fw;
  }
}
